{% extends 'base_reset.html' %}
{% load staticfiles %}

{% block staticextra %}
    <script type="text/javascript" charset="utf8" src="{% static 'js/alertify/alertify.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/alertify/themes/alertify.core.css' %}">
    <link rel="stylesheet" href="{% static 'css/alertify/themes/alertify.default.css' %}">
	<script type="text/javascript">
	    function mostrar_error() {
			alertify.error("<u><b>Error de envio!</u></b><br>El correo electrónico no pudo enviarse...");
	    }
	</script>
{% endblock %}

{% block title %}Recuperar contraseña{% endblock %} 

{% block content %}
	{% if form.errors %}
		<body class="fondo" language=JavaScript onLoad="mostrar_error()">
	{% else %}
		<body class="fondo">
	{% endif %}
    <form method="post" role="form">
		{% csrf_token %}
		<div class="form-group">
			<label for="usrname" class="text-secondary">
				<span class="glyphicon glyphicon-envelope mr-2"></span>Correo electrónico
			</label>
			<input type="email" class="form-control" id="email" name="email" required placeholder="Ingresar correo electrónico" autofocus>
			{% if form.errors %}
				<h6 class="text-danger">* ingrese nuevamente su correo</h6>
			{% endif %}
		</div>
		<button type="submit" class="btn btn-dark btn-block">
			<span class="glyphicon glyphicon-send mr-2"></span>Enviar
		</button>
    </form>
{% endblock %}